/** Colors
 ---------------------------------------------------------*/
$color-white: #fff;
$color-black: #000;

$rocket-red: #DA251F;

$color-light-gray: #B1B1B1;
$color-light-gray-2: #FAFAFA;
$color-light-gray-3: #72808E;
$color-light-gray-4: #d9d9d9;

$color-dark-gray: #726C74;
$color-dark-gray-2: #313131;
$color-dark-gray-3: #4c4c4c;

$color-blue-gray: #2E3747;
$color-blue-gray-2: #363F4E;
$color-blue-gray-3: #324048;
$color-blue-gray-4: #516E80;