/** Common Variables
 ---------------------------------------------------------*/
/** Colors
 ---------------------------------------------------------*/
/** For cross-browser compatibility
 ---------------------------------------------------------*/
/** Hide scrollbars in webkit
 ---------------------------------------------------------*/
/** Clearfix
 ---------------------------------------------------------*/
/** Unit conversions
 ---------------------------------------------------------*/
/** Hover / Active / Focus
 ---------------------------------------------------------*/
/** Hide text inside links
 ---------------------------------------------------------*/
/** CSS Triangles
 ---------------------------------------------------------*/
/** Vertical Boxes
 ---------------------------------------------------------*/
/** Media queries
 ---------------------------------------------------------*/
.icon {
  text-align: left;
  text-indent: -99999em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  width: 32px;
  height: 32px; }

.icon-agribusiness {
  background-image: url("../images/svg/sprout.svg"); }

.icon-real-estate {
  background-image: url("../images/svg/home.svg"); }

.icon-retail {
  background-image: url("../images/svg/restaurant.svg"); }

.icon-money-markets {
  background-image: url("../images/svg/money.svg"); }

.icon-fail {
  background-image: url("../images/svg/fail.svg"); }

.icon-success {
  background-image: url("../images/svg/success.svg"); }

/** Fonts
 ---------------------------------------------------------*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-medium-webfont.woff2") format("woff2"), url("../fonts/lato-medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
/** Reset
 ---------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #313131; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
button,
input,
textarea {
  outline: 0;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0; }

a {
  cursor: pointer; }

button,
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none; }

input,
select,
textarea {
  font-size: 1em; }

video {
  width: 100%;
  height: auto; }

img {
  max-width: 100%;
  height: auto; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

input[type="email"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="date"] {
  outline: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.logo {
  background: url("../images/svg/rocket.svg") no-repeat center top; }

.site-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; }

#site-logo {
  background-size: auto 96px;
  height: 130px;
  width: 200px;
  margin: 0 auto 50px;
  padding-top: 114px; }

.wrap {
  *zoom: 1;
  position: relative;
  margin: auto;
  max-width: 1130px;
  width: 100%;
  padding: 0 10px; }
  .wrap:after, .wrap:before {
    content: " ";
    display: table; }
  .wrap:after {
    clear: both; }

.info-section {
  text-align: center;
  padding: 50px 10px; }
  .info-section.dark-bg {
    color: #fff;
    background: #2E3747;
    /* Old browsers */
    background: -moz-linear-gradient(top, #2E3747 0%, #516E80 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2E3747), color-stop(100%, #516E80));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2E3747 0%, #516E80 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2E3747 0%, #516E80 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2E3747 0%, #516E80 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #2E3747 0%, #516E80 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '$color1', endColorstr='$color2',GradientType=0 );
    /* IE6-9 */ }

.section-title {
  font-size: 30px;
  margin-bottom: 10px; }

.sub-section-title {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5; }

.description {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 1.5; }

@media only screen and (min-width: 768px) {
  .info-section {
    padding: 80px 10px; }

  .section-title {
    font-size: 50px;
    margin-bottom: 20px; }

  .sub-section-title {
    font-size: 40px; }

  .description {
    font-size: 30px; } }
#site-footer {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  padding: 20px 0 0;
  background: #363F4E; }
  #site-footer a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none; }
  #site-footer .copyright {
    background: #2E3747;
    font-size: 12px;
    padding: 20px; }
    #site-footer .copyright p:first-child {
      margin-bottom: 10px; }
  #site-footer .footer-logo {
    margin: 0 auto 20px;
    text-align: center; }
    #site-footer .footer-logo .logo {
      background-size: contain;
      height: 40px;
      width: 25px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }
    #site-footer .footer-logo .site-title {
      font-weight: 600;
      text-transform: uppercase;
      line-height: 40px;
      display: inline-block;
      vertical-align: middle; }

.primary-button {
  display: inline-block;
  outline: 0;
  text-decoration: none;
  border: 0;
  height: 52px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 13px;
  line-height: 48px;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding-left: 1em;
  padding-right: 1em; }

.primary-button {
  color: #fff;
  background: #DA251F;
  font-weight: 700; }
  .primary-button:active, .primary-button:focus, .primary-button:hover {
    background: #c4211c; }

@media only screen and (min-width: 768px) {
  .primary-button {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 14px; } }
input:-webkit-autofill {
  background: rgba(0, 0, 0, 0.25) !important; }

input {
  height: 52px;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  font-size: 14px; }

@media only screen and (min-width: 768px) {
  input {
    font-size: 20px; } }
.card {
  background: #fff;
  *zoom: 1;
  margin-bottom: 20px;
  text-align: left;
  position: relative; }
  .card:after, .card:before {
    content: " ";
    display: table; }
  .card:after {
    clear: both; }
  .card .image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 45%; }
  .card .text {
    padding: 20px; }
  .card .card-title {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    line-height: 30px; }
  .card p {
    color: #726C74;
    font-size: 14px;
    line-height: 23px; }

.with-images {
  *zoom: 1; }
  .with-images:after, .with-images:before {
    content: " ";
    display: table; }
  .with-images:after {
    clear: both; }

.no-images {
  *zoom: 1; }
  .no-images:after, .no-images:before {
    content: " ";
    display: table; }
  .no-images:after {
    clear: both; }
  .no-images .card {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px; }

@media only screen and (max-width: 1023px) {
  .card .image {
    width: 100%;
    position: static;
    height: 150px; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .with-images .card {
    width: 48%;
    float: left; }
    .with-images .card:last-child {
      float: right; }
    .with-images .card .image {
      height: 200px; }

  .no-images .card {
    width: 31.65%;
    float: left;
    margin-right: 2.5%; }
    .no-images .card:last-child {
      margin-right: 0; }
    .no-images .card .text {
      height: 150px; } }
@media only screen and (min-width: 768px) {
  .card .text {
    padding: 30px 20px; }

  .no-images .card {
    margin-bottom: 32px; }
  .no-images .text {
    width: 100%;
    padding: 20px; }
  .no-images .card-title {
    margin-bottom: 10px; } }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .with-images .card .image {
    width: 40%; }
  .with-images .card .text {
    width: 60%; } }
@media only screen and (min-width: 1024px) {
  .with-images {
    width: 50%;
    float: left;
    padding-right: 20px; }
    .with-images .card .text {
      float: right; }

  .no-images {
    width: 50%;
    float: right;
    padding-left: 20px; }
    .no-images .text {
      padding: 40px 20px; } }
@media only screen and (min-width: 1280px) {
  .with-images .card .text {
    width: 55%; } }
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=a611c6934f38232c70ec7faa93caa1a2)
 * Config saved to config.json and https://gist.github.com/a611c6934f38232c70ec7faa93caa1a2
 */
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000; }

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0); }

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 30px 10px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 545px;
    margin: 30px auto; }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

  .modal-sm {
    width: 300px; } }
@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table; }

.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.hidden {
  display: none !important; }

.modal {
  text-align: center; }
  .modal .primary-button {
    min-width: 145px;
    text-transform: uppercase; }
  .modal .modal-title {
    font-size: 20px; }
  .modal .icon {
    width: 80px;
    height: 80px;
    margin: 20px auto; }
  .modal p {
    font-size: 14px;
    line-height: 26px; }
  .modal .text {
    margin-bottom: 20px; }

@media only screen and (min-width: 768px) {
  .modal .modal-title {
    font-size: 30px; }
  .modal .icon-success {
    width: 160px;
    height: 160px;
    margin: 20px auto 10px; }
  .modal .icon-fail {
    width: 114px;
    height: 114px;
    margin: 60px auto; }
  .modal p {
    font-size: 16px; } }
body {
  background: #FAFAFA; }

#grow-wealth {
  background: #2E3747 url("../images/city.jpg") no-repeat center top;
  background-attachment: fixed; }
  #grow-wealth .section-title,
  #grow-wealth .description {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #grow-wealth p {
    line-height: 20px; }
  #grow-wealth .register .fieldset {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5); }

.register {
  max-width: 440px;
  margin: auto; }
  .register .fieldset {
    *zoom: 1;
    margin-bottom: 30px; }
    .register .fieldset:after, .register .fieldset:before {
      content: " ";
      display: table; }
    .register .fieldset:after {
      clear: both; }
  .register .email {
    float: left;
    width: 60%;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px; }
  .register .primary-button {
    float: right;
    width: 40%;
    text-transform: uppercase;
    min-width: 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }
  .register p {
    margin-bottom: 10px; }
    .register p:last-child {
      margin-bottom: 0; }

#handpicked-options .wrap > p {
  color: #4c4c4c; }
#handpicked-options ul {
  padding: 10px 0;
  *zoom: 1; }
  #handpicked-options ul:after, #handpicked-options ul:before {
    content: " ";
    display: table; }
  #handpicked-options ul:after {
    clear: both; }
  #handpicked-options ul li {
    float: left;
    width: 50%;
    padding: 20px; }
  #handpicked-options ul p {
    color: #72808E;
    font-size: 14px;
    line-height: 1.5; }
#handpicked-options .icon {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  display: inline-block;
  background-position: center bottom; }
#handpicked-options .option-title {
  color: #324048;
  font-weight: 700;
  margin-bottom: 10px; }

#difference .sub-section-title {
  margin-bottom: 20px; }
#difference .wrap > p {
  max-width: 940px;
  margin: 0 auto 40px;
  line-height: 1.5; }

#link .sub-section-title {
  color: #4c4c4c;
  margin: 0 auto 30px;
  max-width: 600px; }
#link .register .email {
  border: 1px solid #d9d9d9;
  border-right: 0; }

@media only screen and (max-width: 479px) {
  #handpicked-options ul li {
    display: block;
    width: 100%; } }
@media only screen and (min-width: 768px) {
  #grow-wealth {
    font-size: 20px;
    line-height: 28px; }
    #grow-wealth .description {
      line-height: 1.25; }

  .register .email {
    width: 70%; }
  .register .primary-button {
    width: 30%; }

  #handpicked-options .wrap > p {
    font-size: 22px;
    line-height: 2em; }
  #handpicked-options ul {
    padding: 20px 0; }
    #handpicked-options ul p {
      font-size: 16px;
      line-height: 25px; }
  #handpicked-options .icon {
    width: 80px;
    height: 80px;
    margin: 40px auto; }
  #handpicked-options .option-title {
    font-size: 18px;
    margin-bottom: 20px; }

  #difference .wrap > p {
    font-size: 18px;
    line-height: 28px; }

  #link .sub-section-title {
    margin-bottom: 60px; } }
@media only screen and (min-width: 1024px) {
  #handpicked-options ul li {
    width: 25%; }

  #link {
    max-width: none; } }
.error-page {
  text-align: center;
  padding: 40px 0 0; }
  .error-page .title {
    font-size: 20px; }
  .error-page .icon {
    width: 80px;
    height: 80px;
    margin: 20px auto; }
  .error-page p {
    font-size: 14px;
    line-height: 26px; }

@media only screen and (min-width: 768px) {
  .error-page {
    padding: 80px 0 0; }
    .error-page .title {
      font-size: 30px; }
    .error-page .icon-fail {
      width: 114px;
      height: 114px;
      margin: 60px auto; }
    .error-page p {
      font-size: 16px; } }
body.no-svg .icon-agribusiness {
  background-image: url("../images/sprout.png"); }
body.no-svg .icon-real-estate {
  background-image: url("../images/home.png"); }
body.no-svg .icon-retail {
  background-image: url("../images/restaurant.png"); }
body.no-svg .icon-money-markets {
  background-image: url("../images/money.png"); }
body.no-svg .icon-fail {
  background-image: url("../images/fail.png"); }
body.no-svg .icon-success {
  background-image: url("../images/success.png"); }

/*# sourceMappingURL=main.css.map */
